{% extends "base.html" %}

{% block nav-collapse %}
    {% include "nav-without-login.html" %}
{% endblock %}

{% block right-column %}
    {% include "right-column.html" %}
{% endblock %}

{% block content %}
    {% load static %}
    <p class="tag-for-search">
        <a href="{% url 'index' %}" style="color: black">New questions</a>   <a href="{% url 'hot' %}" style="color: black">Best questions</a>
    </p>

    {% for item in objects %}
        <div class="row question-answer">
            <div class="col-xs-8 col-sm-2 col-picture">
                <img src="{{ item.author.avatar.url }}" alt="user_avatar" height="50" width="50" class="img-rounded">
            </div>
            <div class="col-xs-4 col-sm-10 col-question">
                <dl>
                    <dt class="headlines-answer-question">
                        <a href="{% url 'question' item.id %}">{{ item.title }}</a>
                    </dt>
                    <dd>
                        {{ item.text }}
                    </dd>
                </dl>

                <div class="row tags-like-dislike">
                    <div class="col-xs-8 col-sm-6 like-dislike">
                        <div class="main-answers-and-tags">
                            <a href="{% url 'question' item.id %}">Answers {{ item.number_answers }}</a>
                            {% if item.tags %}
                                <span class="tags">Tags:</span>
                                {% for tag in item.tags %}
                                    <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                                {% endfor %}
                            {% else %}
                                <span class="tags">Tags: no</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-xs-8 col-sm-6 like-dislike">
                        <div class="questions-list-btn-group btn-group">
                            <button class="btn btn-link btn-sm"><img src="{% static "/img/dislike.png" %}" alt="Dislike icons"
                                                                     height="18" width="18" class="img-rounded">
                            </button>
                            <button class="btn btn-link btn-sm green-mark count-like" disabled="disabled">{{ item.likes }}</button>
                            <button class="btn btn-link btn-sm"><img src="{% static "/img/like.png" %}" alt="Dislike icons" height="18"
                                                                     width="18" class="img-rounded"></button>
                        </div>
                    </div>
                </div><!--/.tags and like/dislike -->
            </div>
        </div> <!--/.question -->
    {% endfor %}
{% endblock %}


{% block pagination %}
    {% include "paginator.html" %}
{% endblock %}



